<!DOCTYPE html>
<html>
  <head>
    <title>welcome session!</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'welcome-bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
